<launch>
  <param name="robot_description" 
         command="$(find xacro)/xacro
                  $(find fetch_description)/urdf/freight.xacro" />

  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="joint_state_publisher_gui" 
        pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  
  <node name="rviz" pkg="rviz" type="rviz" 
        args="-d $(find gopher_description)/rviz/model.rviz" />
</launch>
